<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Reporting" connectionString="data source=192.168.108.62\MEGATRON;initial catalog=ALM_Hedge_Reporting;integrated security=True" />
    <add name="Staging" connectionString="data source=192.168.108.62\MEGATRON2016;initial catalog=AlmHedgingStaging;integrated security=True" />
    <add name="MarketData" connectionString="data source=192.168.108.62\MEGATRON2016;initial catalog=MarketData;integrated security=True" />
    <add name="Dev" connectionString="data source=192.168.108.62\MEGATRON2016;initial catalog=OptionValuationDevelopment;integrated security=True" />
    <add name="SQL" connectionString="data source=192.168.108.62\MEGATRON2016;initial catalog=AlmHedgingStaging;integrated security=True" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'" />
    <add name="CSVConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='text;HDR={1};FMT=Delimited'" />
    <add name="Testing" connectionString="data source=192.168.108.62\MEGATRON2016;initial catalog=AlmHedgingStagingDev;integrated security=True" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
